# Node / Next.js (client)
client/pdf-highlighter/node_modules
client/pdf-highlighter/.next
client/pdf-highlighter/out
client/pdf-highlighter/.vercel

# Python (server)
server/__pycache__/
server/.venv
server/venv
server/*.pyc
# server/tmp_uploads/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env*

# Logs and OS files
*.log
.DS_Store
